<html>

<head>
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link href="info.css" rel="stylesheet" type=text/css>
  <title>Sign in</title>
</head>

<body>
  <div class="main">
    <p class="sign" align="center">Travel Info</p>
    <form class="form1">
      <input class="countries" type="text" align="center" placeholder="Enter your desired countries">
      <input class="location" type="text" align="center" placeholder="Enter your current location">

    <input list="weather" id="weather_options" class="weather" name="weather" placeholder="Choose your desired weather">


  <datalist id="weather">
    <option value="<6°C">
    <option value="Between 6°C and 17°C">
    <option value="Between 18°C and 27°C">
    <option value=">27°C">
  </datalist>


      <input class="departure" type="date" align="center" placeholder="Enter your desired departure date">       <input class="return" type="date" align="center" placeholder="Enter your desired return date">
      <input class="passengers" type="text" align="center" placeholder="Enter the number of travellers">
      <input class="budget" type="text" align="center" placeholder="Enter your desired budget">


      <a  class="submit" href=result_page.html align="center"> Search</a>

        <br>
        <br>
      <p class="back" align="center"><a href="main_page.html">Go back</a></p>

      </form>
    </div>

</body>

</html>
