<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>fill information here</title>
</head>
<style>
    * {
        font-family: sans-serif; /* Change your font family */
    }

    .content-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        min-width: 400px;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }
</style>
<body>
<form action="#" method = "post">
<div name="fo">
    <table>
        <tr>
            <td><input type = "text" name = "countries" placeholder="input the countries you would like to go"></td>
        </tr>
        <tr>
            <td><input type = "text" name = "location" placeholder="input your location"></td>
        </tr>
        <tr>
            <td><input type = "text" name = "weather" placeholder="input your preferred weather"></td>
        </tr>
        <tr>
            <td><input type = "date" name = "inbound" placeholder="input your inbound date"></td>
        </tr>
        <tr>
            <td><input type = "date" name = "outbound" placeholder="input your outbound date"></td>
        </tr>
        <tr>
            <td><input type = "text" name = "people" placeholder="input how many people are flying with you"></td>
        </tr>
        <tr>
            <td><input type = "text" name = "budget" placeholder="input ideal budget"></td>
        </tr>
        <tr>
            <td><input type = "submit" name = "submit" value = "go"></td>
        </tr>
    </table>
</div>
</form>
</body>
</html>